<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="logs/award-app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    <JDBC name="databaseAppender" tableName="LOGS">
      <ConnectionFactory class="com.award.repository.ConnectionFactory" method="getDatabaseConnection" />
      <Column name="event_id" literal="nextval('logs_event_id_seq')" isUnicode="false" />
      <Column name="event_date" isEventTimestamp="true" />
      <Column name="level" pattern="%level" isUnicode="false"/>
      <Column name="logger" pattern="%logger" isUnicode="false"/>
      <Column name="message" pattern="%message" isUnicode="false"/>
      <Column name="throwable" pattern="%ex{full}" isUnicode="false"/>
      <Column name="username" pattern="%X{username}" isUnicode="false"/>
    </JDBC>
    </Appenders>
    <Loggers>
        <Logger name="com.award" level="debug" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="databaseAppender"/>
        </Logger>
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="databaseAppender"/>
        </Root>
    </Loggers>
</Configuration>